/* src/App.css */

.category-list {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.category img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.category h3 {
  text-align: center;
}
/* إضافة هذه الأساليب في ملف CSS */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed; /* تثبيت Navbar في الأعلى */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* أو أي لون تفضله */
  z-index: 1000; /* للتأكد من أن النافبار يبقى فوق كل العناصر الأخرى */
}

.navbar a {
  color: white; /* لون النص للروابط */
  text-decoration: none;
  padding: 20px;
}

.navbar a:hover {
  background-color: #555; /* لون الخلفية عند تمرير الماوس فوق الرابط */
}
